.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.stats-card {
    margin: 20px;
    border: 2px solid;
    border-radius: 2px;
    border-color: #2b2bff;
    width: 30vh;
    height: 10vh;
}