.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.stats-card {
    margin: 20px;
    min-width: 250px;
}

.stats-title {
    font-size: 18px;
}

.stats-value {
    font-size: 28px;
}