.registration-form.w100 {
  width: 100%;
  padding: 10px;
  height: 210px;
}

#sendAddress {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-top: 4px; */
  font-size: 16px;
}
