.body {
  display: flex;
}

.pl10 {
  padding-left: 10px;
}

input#code.h100 {
  height: 100px;
}

.pr10 {
  padding-right: 10px;
}

.f1 {
  display: flex;
  flex: 1;
}

.main-create {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pannel-create {
  margin: 16px;
  border: 1px solid #e6e9ed;
  padding: 10px 17px;
}

.has-feedback {
  display: flex;
}

.has-feedback.w100 {
  width: 100%;
}

.one-row {
  display: flex;
}

input#code.custom-control-input {
  width: 30px;
}

label.custom-control-lable {
  padding-top: 0px;
  margin: 4px 6px;
  color: #675b5b;
  font-size: 14px;
}

.mat-checkbox-input {
  height: 32px;
  width: 24px;
}

label.mat-checkbox-label {
  margin: 0px 6px;
  color: #675b5b;
  font-size: 14px;
}

textarea.form-control {
  height: auto;
}

div {
  display: block;
}

.main {
  margin-left: 70px;
  background-color: #f7f7f7;
  padding: 10px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.pannel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #e6e9ed;
  opacity: 1;
  transition: all 0.2s ease;
}

.title {
  border-bottom: 2px solid #e6e9ed;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}

.title h2 {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h2 {
  font-weight: 400;
  font-size: 18px;
}

.text-info {
  color: #31708f;
}

.has-feedback {
  display: flex;
  flex-direction: column;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 50%;
}

.box {
  display: flex;
  margin: 8px 0;
}

.text-center {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.text-center .btn {
  background-color: #0054a6;
  border: 1px solid #0054a6;
  font-size: 18px;
  padding: 4px;
  color: #fff;
}

.text-center .btn:hover {
  cursor: pointer;
  background-color: #1a82c3;
  border-color: #1a82c3;
  color: #fff;
}

.input-group {
  display: flex;
}

.bar-code,
.user-icon,
.phone-icon {
  border-top: 1px solid #dde2e8;
  border-bottom: 1px solid #dde2e8;
  border-left: 1px solid #dde2e8;
}

.bar-code img,
.user-icon img,
.phone-icon img {
  width: 16px;
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
}

label {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  padding-top: 8px;
  font-size: 14px;
  cursor: default;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 30px;
  background-color: #fff;
  /* background-image: none; */
  border: 1px solid #dde2e8;
}

.time_date_picker {
  background-color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  border: 1px solid #ccc;
  width: 100%;
}